body {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 42rem;
  text-align: center;
}

.content {
  text-align: left;
}

.axis-title {
  font-family: 'Avenir Next, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif';
  font-size: 0.6rem;
  font-weight: bold;
  background: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 3px;
}

a { 
  color: inherit;
  text-decoration:none; 
} 

.axis-annotation {
  font-family: 'Avenir Next, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif';
  font-size: 0.6rem;
}

ul {
  text-align: left;
}